{% extends 'base.html' %}
{% block content %}

    <form method="post" action="">

        <div class="ContainerForm">

            {% csrf_token %}

                {% if messages %}
                
                    {% for i in messages %}
                        <span class="alert alert-danger">{{i}}</span>
                    {% endfor %}
                
                {% endif %}
            <br><br>
            {{form}}

            <br>
            <button type="submit" class="btn btn-success m-auto">Login</button>

        </div>

    </form>

{% endblock content %}