{% extends 'base.html' %}

{% block content %}
    <!-- Heading -->
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded-circle" src="static/img//logo.jpg" alt="">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Cakes por encargo</span>
                        <span class="section-heading-lower">Variadas ofertas</span>
                    </h2>
                    <p class="mb-3">
                    </p>

                </div>
            </div>
        </div>
    </section>



    <!-- Message -->
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Calidad garantizada</span>
                            <span class="section-heading-lower"></span>
                        </h2>
                        <p class="mb-0">Contamos con servicio a domicilio con un coste adicional.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
